/*
	Base parts
*/

body {
	background-color: #512da8;
	color: #ffffff;
	font-size: 16px;
	padding-bottom: 50px;
}

#result-template, .hidden-start {
	display: none;
}

.focus-large {
	background: url(border.svg);
	background-size: contain;
}
.focus-small {
	background: url(border-small.svg);
	background-size: contain;
}

/*
	Main components
*/
.header {
	font-size: 5rem;
	margin-top: 100px;
	margin-bottom: 50px;
	text-align: center;
}

.footer {
	text-align: center;
	font-size: 0.7rem;

	position:fixed;
	height:30px;
	width: 100%;
	bottom:0px;
	padding-top: 15px;

	background-color: inherit;
}

/*
	Buttons drawing
*/

.buttons-drawing {
	text-align: center;
	margin: 10px auto;
	max-width: 800px;
}
.draw-row {
	height: 25px;
}
.draw-row:nth-child(1) {
	margin: 0 auto;
	width: 100%;
	background-color: brown;
}
.draw-row:nth-child(2) {
	margin: 0 10%;
	background-color: red;
}
.draw-row:nth-child(3) {
	margin: 0 20%;
	background-color: orange;
}
.draw-row:nth-child(4) {
	margin: 0 30%;
	background-color: yellow;
}

/*
	Result listings
*/
.results {
	margin: 0 auto;
	max-width: 90%;
	padding: 10px;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	align-content: flex-start;
}
.result {
	margin: 10px;
	padding: 20px;
	cursor: pointer;
	width: 300px;

	display: flex;
	flex-direction: column;
}
.logo {
	margin: 10px auto;
	max-width: 100%;
}
.title {
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: 10px;
}
.content {
	text-align: justify;
}

/*
	Anchors
*/
.link:link {
	color: powderblue;
	text-decoration: underline;
}
.link:active {
	color: yellow;
	text-decoration: underline;
}
.link:visited {
	color: pink;
	text-decoration: underline;
}
.link:hover {
	color: red;
	text-decoration: none;
}

@media all and (max-width: 320px) {
	.header {
		font-size: 25vw;
	}
}
